@model Sliders
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Ajouter un contenu</h4>
        <div>

            <p>
                <a href="/Sliders/List"> <i class="fa fa-list"></i></a>
            </p>

        </div>
    </div>
    <div class="card-body">
        <div class="basic-form">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger">
                <div class="row">
                    
                    <div class="col-sm-6 mt-2 mt-sm-0">

                        <input type="text" class="form-control" placeholder="Contenu" asp-for="Contenu">
                            <span asp-validation-for="Contenu" class="text-danger"></span>
                    </div>
                        <div class="col-sm-6 mt-2 mt-sm-0">

                            <input type="file" class="form-control" name="Fichier1">
                           
                        </div>

                </div>
                    <br>
                        <p>
                            <button class="btn btn-primary" type="submit">Ajouter</button>

                        </p>

                </div>
            </form>
        </div>
    </div>
</div>
